<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:rpc.properties"/>

    <bean id="serviceDiscovery" class="cn.uestc.ew.rpc.registry.zookeeper.ZkServiceDiscovery">
        <constructor-arg name="zkAddress" value="${rpc.registry.address}"/>
    </bean>

    <bean id="rpcConfig" class="cn.uestc.ew.rpc.common.config.RpcConfig">
        <constructor-arg name="timeout" value="${rpc.timeout}"/>
        <constructor-arg name="retryPolicy" value="${rpc.retryPolicy}"/>
        <constructor-arg name="retryTimes" value="${rpc.retryTimes}"/>
    </bean>

    <bean id="rpcClientProxy" class="cn.uestc.ew.rpc.client.RpcClientProxy">
        <constructor-arg name="serviceDiscovery" ref="serviceDiscovery"/>
        <constructor-arg name="rpcConfig" ref="rpcConfig"/>
    </bean>

</beans>